<h1><%= link_to @song.title, song_path(@song) %></h1>
<<<<<<< HEAD
<h1><%= display_artist @song %></h1>
=======
<h1><%= show_artist @song %></h1>
>>>>>>> 6b49f265129a3549e638292126dad2e2f06fe63a
<%= link_to "All Songs", songs_path %>
